
<head>
    <title>jDawn Ink</title>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">



    <meta name="description" content="Awesome Description Here">


    <meta http-equiv="content-type" content="text/html;charset=UTF-8">


    <meta name="keywords" content="tag, tag, tag, tag">


    <meta name="author" content="jDawn Ink">
</head>

<body>
    {{>layout}}
</body>

<template name="layout">
    <section id="navigation">
        {{>navbar}}
    </section>
    <div id='logo'>
        {{>banner}}
    </div>
</template>




<template name="home">
    <section id='imgdisp' class="pagecontent">
        <div class="progress progress-dark" style="display:none;">
            <div class="bar" id="image-progress" style="width: 0%;"></div>
        </div>
        {{>imageDisplay}}
    </section>
</template>

<template name="about">
    <div class='pagecontent'>
        <div>
            <span style="font-weight: bold;">Please allow me to introduce myself.&nbsp;</span>
        </div>
        <div>
            <br>
        </div>
        <div>I'm Jennifer (aka JDawnInk) - Graphic Designer and Illustrator of 15 years
            (or quite possibly more). Design and Illustration are my passion.&nbsp;</div>
        <div>
            <br>
        </div>
        <div>I originally began my career as a Graphic Designer working full-time within
            Marketing &amp; Communications department of various corporations such
            as the Hotel &amp; Travel Industry and Financial Industry. Later in my
            career, I established myself as a fine artist and Illustrator. I have a
            large portfolio of digital illustrations <a href="http://www.istockphoto.com/search/portfolio/5903637/?facets=%7B%2225%22%3A%226%22%7D#2a8d1ba" target="_istockphoto2">here</a>. I specialize in typography,
            hand-lettering, vintage and retro designs. My work is primarily focused
            in digital and vector-based design mediums. I have developed a niche market
            and drawing style which you will see within the works featured on my website.</div>
        <div>
            <br>
        </div>
        <div>I also enjoy creating fine art and have many acrylic and mixed-media abstract
            works to my repertoire. To view some of my abstract painted works you can
            click <a href="http://www.istockphoto.com/search/lightbox/12821987/#49dad13=_blank" target="_istockphoto3">here</a>.&nbsp;</div>
        <div>
            <br>
        </div>
        <div>
            <span style="font-weight: bold;">Do you need a Design or Illustration?</span>
        </div>
        <div>
            <br>
        </div>
        <div>You could be looking for a complete a Design (meaning a designed layout
            or brochure which includes or combines type and graphic elements). You
            may need a complete illustration or bits and pieces of an illustration.
            You could be looking for an entire brand design or redesign a logo or label. All of
            these things you may need I'm fully capable of producing from start to
            finish.&nbsp;</div>
        <div>
            <br>
        </div>
        <div>If you’re interested in working with me for your next illustration or
            design project, or you just want to say hello, please feel free to contact
            me using the link above.&nbsp;</div>
        <div>
            <br>
        </div>
        <div>
            <span style="font-weight: bold;">Who is JDawnInk?</span>
        </div>
        <div>
            <br>
        </div>
        <div>J-Dawn-Ink is an amalgamation of my first name Jennifer and my middle
            name Dawn followed by Ink. I created the alias JDawnInk (that's J-Dawn-Ink)
            in 2010. It is also my contributor name on iStockphoto.com.</div>
        <div>
            <br>
        </div>
        <div>
            <span style="font-weight: bold;">A few more details...</span>
        </div>
        <div>
            <br>
        </div>
        <blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;">
            <div>• Lover of vintage art and design, texture and ‘worn’ elements, handmade,
                vintage labels and bottles, antique typewriters</div>
            <div>
                <br>
            </div>
            <div>• Bob Ross taught me to paint</div>
            <div>
                <br>
            </div>
            <div>• Anything Woody Allen, Brazil by Terry Gilliam, Sci-Fi, Chinatown, Phantom
                of the Paradise</div>
            <div>
                <br>
            </div>
            <div>• Americano with cream only</div>
            <div>
                <br>
            </div>
            <div>• Vinyl LPs over cds</div>
            <div>
                <br>
            </div>
            <div>• Paul Williams, Deftones, Al Jourgensen, T-Rex (anything Bolan), The
                Slider, Sade, Robert Smith, Peter Sellers, Mike Patton, Claude.&nbsp;</div>
            <div>
                <br>
            </div>
            <div>• Cat and dog person</div>
            <div>
                <br>
            </div>
            <div>• Bobby's meatballs, bacon &amp; eggs</div>
        </blockquote>
    </div>
</template>


<template name="contact">
    <div class='pagecontent'>
        Contact Page
    </div>
</template>




<template name="banner">
    <header class="main-header" role="banner">
    <a href="http://www.istockphoto.com/search/portfolio/5903637/?facets=%7B%2225%22%3A%226%22%7D#2a8d1ba" target="_istockphoto">
        <img src="http://i.imgur.com/SJgIji2.png" alt="Click here to view my iStockPhoto account!" href="http://www.istockphoto.com/jdawnink"/></a>
    </header>
</template>

<template name="navbar">
        <div class="navbar">
              <div class="navbar-inner">
                <div class="container">
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </a>
                  <a class="brand" href="#"></a>
                  <div class="nav-collapse collapse navbar-responsive-collapse">
                    <ul class="nav">

                      <li class="{{isRoute 'home'}}"><a href="/" id="home">Portfolio</a></li>
                      <li class="{{isRoute 'about'}}"><a href="about">About</a></li>
                      <li class="{{isRoute 'contact'}}"><a href="mailto:jdawnink@gmail.com">Contact</a></li>
                    </ul>
                    <ul class="nav pull-right" style='display:none;'>
                      <li><a href="#">Placeholder Link</a></li>
                      <li class="divider-vertical"></li>
                    </ul>
                  </div><!-- /.nav-collapse -->
                </div>
              </div><!-- /navbar-inner -->
            </div>
</template>
<template name="imageDisplay">
        <div class="image-container">

        </div>
    <div style="display:none">
        {{>imageLoader}}
    </div>
</template>
<template name="imageLoader">
    {{#each images}}
        <div class="profile-image" id="{{id}}">
            <a href="{{src}}" rel="prettyPhoto">
                <img src="{{src}}" width="200px" onload="isotopeImage('{{id}}')">
            </a>
        </div>
    {{/each}}
</template>
